.containers{
    background-color: yellow;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/Shopping2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.orders{
    background-color: orange;
    height: 380px;
    width: 250px;
    margin-left: 5px;
    margin-top: 10px;
}
.image{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
.heading{

    background-color: orange;
    height: 50px;
    width: 100%;
}
.Remove{
    width: 250px;
    color:white;
    background-color: green;
}